<header> <!-- ng-controller='SignInCtrl' -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-3 col-xs-12">
				<a ui-sref='access.signin'>
					<p id="title-web-signin">sinapsis</p>
				</a>
			</div>
			<form>
				<div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-2 col-sm-3 col-xs-4">
					<input ng-model='user.email' type="email" name="Correo electronico" placeholder="Correo electrónico" required="required">
				</div>
				<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<input ng-model='user.password' type="password" name="Contraseña" placeholder="Contraseña" required="required">
					<a ui-sref='access.forgot_password'  id="tercon">¿Olvidaste tu contraseña?</a>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<button ng-click='login()'>Iniciar sesión</button>
				</div>
			</form>	
		</div>
	</div>
</header>
<article ng-init='app.settings.container = false'> <!-- ng-controller='SignUpCtrl' -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="register-box-signin">
					<div class="mini-box-1-signin">
						<div class="mini-box-3-signin">
							<p id="info-p-1">Sinapsis</p>
							<p id="info-p-2">¡Tu herramienta web médica, para almacenar tu información de forma fácil, segura y gratuita!</p>
						</div>
					</div>
					<div class="mini-box-2-signin">
						<img src="assets/dev/images/logo-sinapsis.png" alt="logo de sinapsis" id="sinapsis-logo">
						<h2>Regístrate</h2>
				    <form name='form' ng-submit='signup()' form-validation=''>
				      <div class='list-group list-group-sm auth' control-form=''>
				        <div class="row">
				        	<div class='col-xs-6 auxiliar-margin-register'>
					          <div class='has-feedback'>
					            <input 
					            class="form-control no-border valid-value" 
					            title="
Campo destinado para nombre(s)
- Este campo es requerido 
- Sólo admite letras y un solo espacio
- No permite caracteres especiales ni mayusculas" 
											pattern="([a-záéíóú]+)\s?([a-záéíóú]+)?"
											ng-model="user.first_name" 
											placeholder="Nombres" 
											type="text" 
											name="first_name" 
											required="required" 
											ng-pattern="/([a-záéíóú]+)\s?([a-záéíóú]+)?/" 
											patternMessage="Campo de letras y un solo espacio">
					          </div>
					        </div>
					        <div class='col-xs-6 auxiliar-margin-register'>
					          <div class='has-feedback'>
					            <input 
					            class="form-control no-border valid-value" 
					            title="
Campo destinado para apellido(s)
- Este campo es requerido
- Sólo admite letras y un solo espacio
- No estan permitidos los caracteres especiales"
											pattern="([a-záéíóú]+)\s?([a-záéíóú]+)?" 
											ng-model="user.last_name"  
											placeholder="Apellidos" 
											type="text" 
											name="last_name"  
											required="required" 
											ng-pattern="/([a-záéíóú]+)\s?([a-záéíóú]+)?/" 
											patternMessage="Campos de letras y un solo espacio">
					          </div>
					        </div>
				        </div>
				        <div class="row">
				        	<div class='col-xs-6 auxiliar-margin-register'>
					          <div class='has-feedback'>
					            <input 
					            class="form-control no-border valid-value"
					            title="
Campo destinado para el correo electronico
- Este campo es requerido
- El formato valido exige un @ y un .
- Formato valido = ejemplo@ejemplo.ejemplo"
											pattern="(([a-z0-9][_.]?)+@([a-z])+.([a-z]{2,3}))" 
					            ng-model="user.email" 
					            placeholder="Correo electrónico" 
					            type="email" 
					            name="email"
					            required="required" 
					            ng-blur="searchEmail(user.email);" 
					            ng-focus= "deleteEmail()">
					            <small class='text-center' id='tag-email'></small>
					          </div>
					        </div>
					        <div class='col-xs-6 auxiliar-margin-register'>
					          <div class='has-feedback'>
					            <input 
					            class='form-control no-border valid-value' 
					            title="
Campo destinado para la cedula de identidad
- Este campo es requerido
- Sólo admite numeros
- No permite caracteres especiales como el punto (.)"
											pattern="\d*" 
					            ng-model='user.id_number' 
					            placeholder="Cédula" 
					            type='number'
					            name="id_number" 
					            min="500000" 
					            max="100000000" 
					            required='required'  
					            patternMessage='Sólo se permiten números' 
					            ng-blur='searchIdNumber(user.id_number);' 
					            ng-focus="deleteId()">
					            <small class='text-center' id='tag-id'></small>
					          </div>
					        </div>
				        </div>
				        <div class="row">
				        	<div class='col-xs-6 auxiliar-margin-register'>
					          <div class='has-feedback'>
					            <input 
					            class='form-control no-border valid-value' 
					            title="
Campo destinado para la contraseña
- Este campo es requerido
- El numero minimo de caracteres es de 6"
					            ng-model='user.password' 
					            placeholder="Contraseña" 
					            type='password'
					            name="password" 
					            required='required' 
					            minlength='6' 
					            minlengthMessage='El número mínimo de caracteres es 6'
					            ng-change="validatePassword()">
					          </div>
					        </div>
					        <div class='col-xs-6 auxiliar-margin-register' >
					          <div class='has-feedback'>
					            <input 
					            class='form-control no-border'
					            title="
Campo destinado para la confirmacion de contraseña
- Este campo es requerido
- El numero minimo de caracteres es de 6" 
					            ng-model='user.password_confirmation' 
					            placeholder='Confirmar contraseña' 
					            type='password'
					            name="password-confirm" 
					            required='' 
					            minlength='6' 
					            minlengthMessage='El número mínimo de caracteres es 6'
					            ng-change="validatePassword()"
					            id="confirmate-input-S">
					          </div>
					        </div>
				        </div>
				        <div class="row">
				        	<div class="col-xs-3">
				        		<div class="has-feedback">
				<!--			select y option para ng-repeat de los codigos telefonicos 
				        		<select ng-model="user.mobile_code_id">
			   									<option ng-repeat="code in codes" value="{{code.id}}">{{code.code}}   
			   					select y option para ng-repeat de los codigos telefonicos						-->
				        			<input 
				        			type="number" 
				        			name="code"
				        			title="
Campo destinado para el codigo del telefono celular
- Este campo es requerido
- El numero de caracteres requerido es de 4 digitos
- Formato valido = 0400" 
				        			required="required" 
				        			min='0' 
				        			max="999" 
				        			ng-model='user.mobile_code_id' 
				        			placeholder="0400" 
				        			class="form-control valid-value auxiliar-margin-register-3" >
				        		</div>
				        	</div>
				        	<div class='col-xs-4 auxiliar-margin-register'>
					          <div class='has-feedback'>
					            <input 
					            class='form-control no-border valid-value' 
					            title="
Campo destinado para el telefono celular
- Este campo es requerido
- El numero de caracteres requerido es de 7 digitos
- No permite caracteres especiales
- Formato valido = 1213345" 
					            ng-model='user.phone_mobile' 
					            placeholder="Teléfono móvil" 
					            type='number' 
					            name='phone_mobile' 
					            required='required' 
					            min='1' 
					            max="9999999">
					          </div>
					        </div>
					        <div class='col-xs-5 auxiliar-margin-register-2'>
					          <div class='has-feedback aux-cont-S'>
					          	<span class='input-group-addon aux-label-input-S' title="Fecha de nacimiento">
				                <i class='glyphicon glyphicon-calendar'></i>
				              </span>
					            <div class='input-group aux-input-dim-S'>
					              <input 
					              class='form-control valid-value' 
					              ng-model="user.birth_date" 
					              name="date_input" 
					              type='text' 
					              title="
Campo destinado para la fecha de nacimiento
- Este campo es requerido
- No permite caracteres especiales
- Los simbolos divisorios se colocan de forma automatica
- Formato valido = 18091992" 
					              pattern="((0[1-9])|1[1-9]|2[1-9]|3[0-1])/((0[1-9])|1[1-2])/(19[0-9]{2}|20[0-1][0-7])"
					              required='required' 
					              ui-mask="99/99/9999"
					              ng-pattern="date_regex" 
					              placeholder="DD/MM/YYYY" 
					              ng-blur='validDate(user.birth_date);' 
					              ng-focus='deleteDate()'>
					              <spam class='error-message' ng-show='showMessage'> Introduzca una fecha válida</spam>
					            </div>
					          </div>
					        </div>
				        </div> 
				        <div class="row">
					        <div class='col-xs-6 auxiliar-margin-register'>
					          <div class='has-feedback'>
					            <div class='btn-group btn-group-justified wrapper-xs padder-lg'>
					              <label class='btn btn-default' ng-model='user.gender' uib-btn-radio="'M'" required='' >Hombre</label>
					              <label class='btn btn-default' ng-model='user.gender' uib-btn-radio="'F'" required=''>Mujer</label>
					            </div>
					          </div>
					        </div>
					        <div class='col-xs-6 auxiliar-margin-register'>
					          <div class='wrapper-xs padder-lg'>
					            <label class='i-checks i-checks-lg'>
					              <input ng-model='doctor' type='checkbox' name='doctor'>
					              <i></i>
					              Soy doctor
					            </label>
					          </div>
					        </div>
				        </div>
					      <div class="row">
					        <div class='col-xs-6 auxiliar-margin-register' ng-if='doctor'>
					          <div class='has-feedback'>
					            <input 
					            class='form-control no-border valid-value' 
					            ng-model='user.doctor_attributes.certificate_number'  
					            placeholder='Número MPPS'
					            title="
Campo destinado para el numero MPPS
- Si es un doctor, este campo es requerido." 
					            type='text' name='certificate_number' 
					            required='required' 
					            ng-pattern="/^[0-9]+$/i" 
					            patternMessage='Sólo se permiten números'>
					          </div>
					        </div>
					        <div class='col-xs-6 auxiliar-margin-register' ng-if='doctor'>
					          <div class='add-center-search'>
											<input class="form-control input-search-border valid-value"
												placeholder="Especialidad"
												type="text"
												title="
Campo destinado para la especialidad medica
- Si es un doctor, este campo es requerido.
- Escriba y seleccione un elemento de la lista mostrada" 
												pattern="^[a-zA-Z áéíóú]*$" 
												uib-typeahead='speciality.name for speciality in getSpecialities($viewValue)'
												ng-model="text"
												required="required"
												typeahead-on-select='getSpecialityID($item.id)'
											>
					          </div>
					        </div>
					      </div>
				      </div>
				      <button class='btn btn-lg btn-primary btn-block register-button' data-target='#terms_of_use' ng-disabled='form.$invalid' data-toggle='modal' ng-click='signup(user)' type='button'>Registrarse</button>
				    </form>
				    <div class="text-box-1">
							<center>
								<p>Al hacer clic en "Regístrarse", aceptas los <a id="tercon" href="#" data-toggle="modal" data-target="#myModal">Términos y condiciones de uso</a> de Sinapsis.</p>
							</center>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</article>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center>
        	<h4 class="modal-title" id="myModalLabel">Términos y condiciones de uso</h4>
        </center>
      </div>
      <div class="modal-body aux-style-2-home">
        <p>
				INFORMACIÓN GENERAL
				</p>
				<p>
				Este sitio web es operado por Conectium, C.A.. En todo el sitio, los términos “nosotros”, “nos” y “nuestro” se refieren a Conectium, C.A.. Conectium, C.A. ofrece este sitio web, incluyendo toda la información, herramientas y servicios disponibles para ti en este sitio, el usuario, está condicionado a la aceptación de todos los términos, condiciones, políticas y notificaciones aquí establecidos.

				Al visitar nuestro sitio y/o comprar algo de nosotros, paticipas en nuestro “Servicio” y aceptas los siguientes términos y condiciones (“Términos de Servicio”, “Términos”), incluídos todos los términos y condiciones adicionales y las polítias a las que se hace referencia en el presente documento y/o disponible a través de hipervínculos. Estas Condiciones de Servicio se aplican a todos los usuarios del sitio, incluyendo si limitación a usuarios que sean navegadores, proveedores, clientes, comerciantes, y/o colaboradores de contenido.

				Por favor, lee estos Términos de Servicio cuidadosamente antes de acceder o utilizar nuestro sitio web. Al acceder o utilizar cualquier parte del sitio, estás aceptando los Términos de Servicio. Si no estás de acuerdo con todos los términos y condiciones de este acuerdo, entonces no deberías acceder a la página web o usar cualquiera de los servicios. Si las Términos de Servicio son considerados una oferta, la aceptación está expresamente limitada a estos Términos de Servicio.


				Cualquier función nueva o herramienta que se añadan a la tienda actual, tambien estarán sujetas a los Términos de Servicio. Puedes revisar la versión actualizada de los Términos de Servicio, en cualquier momento en esta página. Nos reservamos el derecho de actualizar, cambiar o reemplazar cualquier parte de los Términos de Servicio mediante la publicación de actualizaciones y/o cambios en nuestro sitio web. Es tu responsabilidad chequear esta página periódicamente para verificar cambios. Tu uso contínuo o el acceso al sitio web después de la publicación de cualquier cambio constituye la aceptación de dichos cambios.

				Nuestra tienda se encuentra alojada en Shopify Inc. Ellos nos proporcionan la plataforma de comercio electrónico en línea, que nos permite venderte nuestros productos y servicios.
				</p>

				<p>
				SECCIÓN 1 - TÉRMINOS DE LA TIENDA EN LÍNEA

				Al utilizar este sitio, declaras que tienes al menos la mayoría de edad en tu estado o provincia de residencia, o que tienes la mayoría de edad en tu estado o provincia de residencia y que nos has dado tu consentimiento para permitir que cualquiera de tus dependientes menores use este sitio.

				No puedes usar nuestros productos con ningún propósito ilegal o no autorizado tampoco puedes, en el uso del Servicio, violar cualquier ley en tu jurisdicción (incluyendo pero no limitado a las leyes de derecho de autor).

				No debes transmitir gusanos, virus o cualquier código de naturaleza destructiva.

				El incumplimiento o violación de cualquiera de estos Términos darán lugar al cese inmediato de tus Servicios.
				</p>

				<p>
				SECCIÓN 2 - CONDICIONES GENERALES

				Nos reservamos el derecho de rechazar la prestación de servicio a cualquier persona, por cualquier motivo y en cualquier momento.

				Entiendes que tu contenido (sin incluir la información de tu tarjeta de crédito), puede ser transferida sin encriptar e involucrar (a) transmisiones a través de varias redes; y (b) cambios para ajustarse o adaptarse a los requisitos técnicosde conexión de redes o dispositivos. La información de tarjetas de crédito está siempre encriptada durante la transferencia a través de las redes.

				Estás de acuerdo con no reproducir, duplicar, copiar, vender, revender o explotar cualquier parte del Servicio, usp del Servicio, o acceso al Servicio o cualquier contacto en el sitio web a través del cual se presta el servicio, sin el expreso permiso por escrito de nuestra parte.

				Los títulos utilizados en este acuerdo se icluyen solo por conveniencia y no limita o afecta a estos Términos.
				</p>
				<p>
				SECCIÓN 3 - EXACTITUD, EXHAUSTVIDAD Y ACTUALIDAD DE LA INFORMACIÓN

				No nos hacemos responsables si la información disponible en este sitio no es exacta, completa o actual.  El material en este sitio es provisto solo para información general y no debe confiarse en ella o utilizarse como la única base para la toma de decisiones sin consultar primeramente, información más precisa, completa u oportuna.  Cualquier dependencia em el materia de este sitio es bajo su propio riesgo.

				Este sitio puede contener cierta información histórica.  La información histórica, no es necesriamente actual y es provista únicamente para tu referencia.  Nos reservamos el derecho de modificar los contenidos de este sitio en cualquier momento, pero no tenemos obligación de actualizar cualquier información en nuestro sitio.  Aceptas que es tu responsabilidad de monitorear los cambios en nuestro sitio.
				</p>
				<p>
				SECTION 4 - MODIFICACIONES AL SERVICIO Y PRECIOS

				Los precios de nuestros productos están sujetos a cambio sin aviso.

				Nos reservamos el derecho de modificar o discontinuar el Servicio (o cualquier parte del contenido) en cualquier momento sin aviso previo.

				No seremos responsables ante ti o alguna tercera parte por cualquier modificación, cambio de precio, suspensión o discontinuidad del Servicio.
				</p>
				<p>
				SECCIÓN 5 - PRODUCTOS O SERVICIOS (si aplicable)

				Ciertos productos o servicios puedene star disponibles exclusivamente en línea a través del sitio web. Estos productos o servicios pueden tener cantidades limitadas y estar sujetas a devolución o cambio de acuerdo a nuestra política de devolución solamente.

				Hemos hecho el esfuerzo de mostrar los colores y las imágenes de nuestros productos, en la tienda, con la mayor precisión de colores posible.  No podemos garantizar que el monitor de tu computadora muestre los colores de manera exacta.

				Nos reservamos el derecho, pero no estamos obligados, para limitar las ventas de nuestros productos o servicios a cualquier persona, región geográfica o jurisdicción.  Podemos ejercer este derecho basados en cada caso.  Nos reservamos el derecho de limitar las cantidades de los productos o servicios que ofrecemos.  Todas las descripciones de productos o precios de los productos están sujetos a cambios en cualquier momento sin previo aviso, a nuestra sola discreción.  Nos reservamos el derecho de discontinuar cualquier producto en cualquier momento.  Cualquier oferta de producto o servicio hecho en este sitio es nulo donde esté prohibido.

				No garantizamos que la calidad de los productos, servicios, información u otro material comprado u obtenido por ti  cumpla con tus expectativas, o que cualquier error en el Servicio será corregido.
				</p>
				<p>
				SECCIÓN 6 - EXACTITUD DE FACTURACIÓN E INFORMACIÓN DE CUENTA

				Nos reservamos el derecho de rechazar cualquier pedido que realice con nosotros. Podemos, a nuestra discreción, limitar o cancelar las cantidades compradas por persona, por hogar o por pedido. Estas restricciones pueden incluir pedidos realizados por o bajo la misma cuenta de cliente, la misma tarjeta de crédito, y/o pedidos que utilizan la misma facturación y/o dirección de envío.

				En el caso de que hagamos un cambio o cancelemos una orden, podemos intentar notificarte poniéndonos en contacto vía correo electrónico y/o dirección de facturación / número de teléfono proporcionado en el momento que se hizo pedido. Nos reservamos el derecho de limitar o prohibir las órdenes que, a nuestro juicio, parecen ser colocado por los concesionarios, revendedores o distribuidores.

				Te comprometes a proporcionar información actual, completa y precisa de la compra y cuenta utilizada para todas las compras realizadasen nuestra tienda.  Te comprometes a ctualizar rápidamente tu cuenta y otra información, incluyendo tu dirección de correo electrónico y números de tarjetas de crédito y fechas de vencimiento, para que podamos completar tus transacciones y contactarte cuando sea necesario.

				Para más detalles, por favor revisa nuestra Política de Devoluciones.
				</p>
				<p>
				SECCIÓN 7 - HERRAMIENTAS OPCIONALES

				Es posible que te proporcionemos aceso a herramientas de terceros a los cuales no monitoreamos y sobre los que no tenemos control ni entrada.

				Reconoces y aceptas que proporcionamos acceso a este tipo de herramientas "tal cual" y "según disponibilidad" sin garantías, representaciones o condiciones de ningún tipo y sin ningún respaldo.  No tendremos responsabilidad alguna derivada de o relacionada con tu uso de herramientas proporcionadas por terceras partes.

				Cualquier uso que hagas de las herramientas opcionales que se ofrecen a través del sitio bajo tu propio riesgo y discreción y debes asegurarte de estar familiarizado y aprobar los términos bajo los cuales estas herramientas son proporcionadas por el o los proveedores de terceros.

				Tambien es posible que, en el futuro, te ofrezcamos nuevos servicios y/o características a través del sitio web (incluyendo el lanzamiento de nuevas herramientas y recursos).  Estas nuevas caraterísticas y/o servicios tambien estarán sujetos a estos Términos de Servicio.
				</p>
				<p>
				SECCIÓN 8 - ENLACES DE TERCERAS PARTES

				Cierto contenido, productos y servicios disponibles vía nuestro Servicio puede incluír material de terceras partes.

				Enlaces de terceras partes en este sitio pueden direccionarte a sitios web de terceras partes que no están afiliadas con nosotros.  No nos responsabilizamos  de examinar o evaluar el contenido o exactitud y no garantizamos ni tendremos ninguna obligación o responsabilidad por cualquier material de terceros o siitos web, o de cualquier material, productos o servicios de terceros.

				No nos hacemos responsables de cualquier daño o daños relacionados con la adquisición o utilización de bienes, servicios, recursos, contenidos, o cualquier otra transacción realizadas en conexión con sitios web de terceros.  Por favor revisa cuidadosamente las políticas y prácticas de terceros y asegúrate de entenderlas antes de participar en cualquier transacción.  Quejas, reclamos, inquietudes o pregutas con respecto a productos de terceros deben ser dirigidas a la tercera parte.
				</p>
				<p>
				SECCIÓN 9 - COMENTARIOS DE USUARIO, CAPTACIÓN Y OTROS ENVÍOS

				Si, a pedido nuestro, envías ciertas presentaciones específicas (por ejemplo la participación en concursos) o sin un pedido de nuestra parte envías ideas creativas, sugerencias, proposiciones, planes, u otros materiales, ya sea en línea, por email, por correo postal, o de otra manera (colectivamente, 'comentarios'), aceptas que podamos, en cualquier momento, sin restricción, editar, copiar, publicar, distribuír, traducir o utilizar por cualquier medio comentarios que nos hayas enviado. No tenemos ni tendremos ninguna obligación (1) de mantener ningún comentario confidencialmente; (2) de pagar compensación por comentarios; o (3) de responder a comentarios.

				Nosotros podemos, pero no tenemos obligación de, monitorear, editar o remover contenido que consideremos sea ilegítimo, ofensivo, amenazante, calumnioso, difamatorio, pornográfico, obsceno u objetable o viole la propiedad intelectual de cualquiera de las partes o los Términos de Servicio.

				Aceptas que tus comentarios no violarán los derechos de terceras partes, incluyendo derechos de autor, marca, privacidad, personalidad u otro derechos personal o de propiedad. Asimismo, aceptas que tus comentarios no contienen material difamatorio o ilegal, abusivo u obsceno, o contienen virus informáticos u otro malware que pudiera, de alguna manera, afectar el funcionamiento del Srvicio o de cualquier sitio web relacionado.  No puedes utilizar una dirección de correo electrónico falsa, usar otra identidad que no sea legítima, o engañar a terceras partes o a nosotros en cuanto al origen de tus comentarios.  Tu eres el único responsable por los comentarios que haces y su precisión.  No nos hacemos responsables y no asumimos ninguna obligación con respecto a los comentarios publicados por ti o cualquier tercer parte.
				</p>
				<p>
				SECCIÓN 10 - INFORMACIÓN PERSONAL

				Tu presentación de información personal a través del sitio se rige por nuestra Política de Privacidad. Para ver nuestra Política de Privacidad.
				</p>
				<p>
				SECCIÓN 11 - ERRORES, INEXACTITUDES Y OMISIONES

				De vez en cuando puede haber información en nuestro sitio o en el Servicio que contiene errores tipográficos, inexactitudes u omisiones que puedan estar relacionadas con las descripciones de productos, precios, promociones, ofertas, gastos de envío del producto, el tiempo de tránsito y la disponibilidad. Nos reservamos el derecho de corregir los errores, inexactitudes u omisiones y de cambiar o actualizar la información o cancelar pedidos si alguna información en el Servicio o en cualquier sitio web relacionado es inexacta en cualquier momento sin previo aviso (incluso después de que hayas enviado tu orden) .

				No asumimos ninguna obligación de actualizar, corregir o aclarar la información en el Servicio o en cualquier sitio web relacionado, incluyendo, sin limitación, la información de precios, excepto cuando sea requerido por la ley. Ninguna especificación actualizada o fecha de actualización aplicada en el Servicio o en cualquier sitio web relacionado, debe ser tomada para indicar que toda la información en el Servicio o en cualquier sitio web relacionado ha sido modificado o actualizado.
				</p>
				<p>
				SECCIÓN 12 - USOS PROHIBIDOS

				En adición a otras prohibiciones como se establece en los Términos de Servicio, se prohibe el uso del sitio o su contenido: (a) para ningún propósito ilegal; (b) para pedirle a otros que realicen o partiicpen en actos ilícitos; (c) para violar cualquier regulación, reglas, leyes internacionales, federales, provinciales o estatales, u ordenanzas locales; (d) para infringir o violar el derecho de propiedad intelectual nuestro o de terceras partes; (e) para acosar, abusar, insultar, dañar, difamar, calumniar, desprestigiar, intimidar o discriminar por razones de género, orientación sexual, religión, tnia, raza, edad, nacionalidad o discapacidad; (f) para presentar información falsa o engañosa; (g) para cargar o transmitir virus o cualquier otro tipo de código malicioso que sea o pueda ser utilizado en cualquier forma que pueda comprometer la funcionalidad o el funcionamientodel Servicio o de cualquier sitio web relacionado, otros sitios o Internet; (h) para recopilar o rastrear información personal de otros; (i) para generar spam, phish, pharm, pretext, spider, crawl, or scrape; (j) para cualquier propósito obsceno o inmoral; o (k) para interferir con o burlar los elementos de seguridad del Servicio o cualquier sitio web relacionado¿ otros sitios o Internet. Nos reservamos el derecho de suspender el uso del Servicio o de cualquier sitio web relacionado por violar cualquiera de los ítems de los usos prohibidos.
				</p>
				<p>
				SECCIÓN 13 - EXCLUSIÓN DE GARANTÍAS; LIMITACIÓN DE RESPONSABILIDAD

				No garantizamos ni aseguramos que el uso de nuestro servicio será ininterrumpido, puntual, seguro o libre de errores.

				No garantizamos que los resultados que se puedan obtener del uso del servicio serán exactos o confiables.

				Aceptas que de vez en cuando podemos quitar el servicio por períodos de tiempo indefinidos o cancelar el servicio en cualquier momento sin previo aviso.

				Aceptas expresamenteque el uso de, o la posibilidad de utilizar, el servicio es bajo tu propio riesgo.  El servicio y todos los productos y servicios proporcionados a través del servicio son (salvo lo expresamente manifestado por nosotros) proporcionados "tal cual" y "según esté disponible" para su uso, sin ningún tipo de representación, garantías o condiciones de ningún tipo, ya sea expresa o implícita, incluídas todas las garantías o condiciones implícitas de comercialización, calidad comercializable, la aptitud para un propósito particular, durabilidad, título y no infracción.

				En ningún caso Conectium, C.A., nuestros directores, funcionarios, empleados, afiliados, agentes, contratistas, internos, proveedores, prestadores de servicios o licenciantes serán responsables por cualquier daño, pérdida, reclamo, o daños directos, indirectos, incidentales, punitivos, especiales o consecuentes de cualquier tipo, incluyendo, sin limitación, pérdida de beneficios, pérdida de igresos, pérdida de ahorros, pérdida de datos, costos de reemplazo, o cualquier daño similar, ya sea basado en contrato, agravio (incluyendo negligencia), responsabilidad estricta o de otra manera, como consecuencia del uso de cualquiera de los servicios o productos adquiridos mediante el servicio, o por cualquier otro reclamo relacionado de alguna manera con el uso del servicio o cualquier producto, incluyendo pero no limitado, a cualquier error u omisión en cualquier contenido, o cualquier pérdida o daño de cualquier tipo incurridos como resultados de la utilización del servicio o cualquier contenido (o producto) publicado, transmitido, o que se pongan a disposición a través del servicio, incluso si se avisa de su posibilidad.  Debido a que algunos estados o jurisdicciones no permiten la exclusión o la limitación de responsabilidad por daños consecuenciales o incidentales, en tales estados o jurisdicciones, nuestra responsabilidad se limitará en la medida máxima permitida por la ley.
				</p>
				<p>
				SECCIÓN 14 - INDEMNIZACIÓN

				Aceptas indemnizar, defender y mantener indemne Conectium, C.A. y nuestras matrices, subsidiarias, afiliados, socios, funcionarios, directores, agentes, contratistas, concesionarios, proveedores de servicios, subcontratistas, proveedores, internos y empleados, de cualquier reclamo o demanda, incluyendo honorarios razonables de abogados, hechos por cualquier tercero a causa o como resultado de tu incumplimiento de las Condiciones de Servicio o de los documentos que incorporan como referencia, o la violación de cualquier ley o de los derechos de u tercero.
				</p>
				<p>
				SECCIÓN 15 - DIVISIBILIDAD

				En el caso de que se determine que cualquier disposición de estas Condiciones de Servicio sea ilegal, nula o inejecutable, dicha disposición será, no obstante, efectiva a obtener la máxima medida permitida por la ley aplicable, y la parte no exigible se considerará separada de estos Términos de Servicio, dicha determinación no afectará la validez de aplicabilidad de las demás disposiciones restantes.
				</p>
				<p>
				SECCIÓN 16 - RESCISIÓN

				Las obligaciones y responsabilidades de las partes que hayan incurrido con anterioridad a la fecha de terminación sobrevivirán a la terminación de este acuerdo a todos los efectos.

				Estas Condiciones de servicio son efectivos a menos que y hasta que sea terminado por ti o nosotros. Puedes terminar estos Términos de Servicio en cualquier momento por avisarnos que ya no deseas utilizar nuestros servicios, o cuando dejes de usar nuestro sitio.

				Si a nuestro juicio, fallas, o se sospecha que haz fallado, en el cumplimiento de cualquier término o disposición de estas Condiciones de Servicio, tambien podemos terminar este acuerdo en cualquier momento sin previo aviso, y seguirás siendo responsable de todos los montos adeudados hasta incluída la fecha de terminación; y/o en consecuencia podemos negarte el acceso a nuestros servicios (o cualquier parte del mismo).
				</p>
				<p>
				SECCIÓN 17 - ACUERDO COMPLETO

				Nuestra falla para ejercer o hacer valer cualquier derecho o disposiciôn de estas Condiciones de Servicio no constituirá una renucia a tal derecho o disposición.

				Estas Condiciones del servicio y las políticas o reglas de operación publicadas por nosotros en este sitio o con respecto al servicio constituyen el acuerdo completo y el entendimiento entre tu y nosotros y rigen el uso del Servicio y reemplaza cualquier acuerdo, comunicaciones y propuestas anteriores o contemporáneas, ya sea oral o escrita, entre tu y nosotros (incluyendo, pero no limitado a, cualquier versión previa de los Términos de Servicio).

				Cualquier ambigüedad en la interpretación de estas Condiciones del servicio no se interpretarán en contra del grupo de redacción.
				</p>
				<p>
				SECCIÓN 18 - LEY

				Estas Condiciones del servicio y cualquier acuerdos aparte en el que te proporcionemos servicios se regirán e interpretarán en conformidad con las leyes de Centro Empresarial Autana, Av. Principal de Los Ruices, Los Ruices., Caracas, M, 1071, Venezuela, Bolivarian Republic of.
				</p>
				<p>
				SECCIÓN 19 - CAMBIOS EN LOS TÉRMINOS DE SERVICIO

				Puedes revisar la versión más actualizada de los Términos de Servicio en cualquier momento en esta página.

				Nos reservamos el derecho, a nuestra sola discreción, de actualizar, modificar o reemplazar cualquier parte de estas Condiciones del servicio mediante la publicación de las actualizaciones y los cambios en nuestro sitio web. Es tu responsabilidad revisar nuestro sitio web periódicamente para verificar los cambios. El uso contínuo de o el acceso a nuestro sitio Web o el Servicio después de la publicación de cualquier cambio en estas Condiciones de servicio implica la aceptación de dichos cambios.
				</p>
				<p>
				SECCIÓN 20 - INFORMACIÓN DE CONTACTO

				Preguntas acerca de los Términos de Servicio deben ser enviadas a services@conectium.com.
				</p>

				</p>
      </div>
    </div>
  </div>
</div>
