/* Boxes styles */
	.dashb-sect-1{
		width: 100%;
	}
	.dashb-sect-2{
	  display: inline-block;
	  overflow-y: scroll;
	}
	.dashb-sect-2-1{
		height: 325px;
    display: inline-block;
    background-color: white;
    float: right;
	}
	.dashb-sect-3{
		height: auto;
		width: 100%;
	}
	.dashb-sect-4{
		height: 200px;
		width: 100%;
	  margin: 0pc 0pc 1pc 0pc;
	}
	.dashb-sect-5{
		height: auto;
		width: 100%;
	  margin: 0pc 0pc 1pc 0pc;
	}
/* End Boxes styles */

/* Sub Sections boxes styles */
	.dashb-sect-1-sub-1{
		background-color: white;
		height: 100%;
	}
	.dashb-sect-1-sub-2{
		background-color: #5395FE;
		height: 100%;
	}
	.dashb-sect-2-sub-1{
		height: 95%;
		background-color: white;
		width: calc(100% + 16px);
		margin-left: -8px;
	}
	.dashb-sect-2-sub-2{
		height: 95%;
		background-color: white;
		width: calc(100% + 16px);
		margin-left: -8px;
	}
	.dashb-sect-2-sub-3{
		height: 97.5%;
		background-color: #9600E4;
		width: calc(100% + 16px);
		margin-left: -8px;
	}
	.dashb-sect-4-sub-1{
		padding: 0px;
		background-color: white;
		height: 100%; 
	}
	.dashb-sect-6-sub{
	  background-color: white;
	  height: 100px;
	  border: 1px solid #F2F2F2;
	}
/* End Sub Sections boxes styles */

/* Auxiliar css */
	.dashb-sect-1-sub-3{
		height: 100%;
	}
	.dashb-sect-1-sub-4{
		height: 100%;
	}
	.row-helper-dashb-1{
		height: 100%;
	}
	.row-helper-dashb-2{
		height: 50%;
	}
	.col-helper-dashb-1{
		height: 100%;
	}
	.col-helper-dashb-2{
		padding: 0px; 
	}
/* End Auxiliar css */

/* User Information - first section */
	.info-user-dashb-box-1{
		float: left;
		position: relative;
	}
	.info-user-dashb-box-2{
		float: left;
		position: relative;
	}
	.info-user-dashb-box-3{
		float: left;
		position: relative;
	}
	.info-user-dashb-box-4{
		float: left;
		position: relative; 
	}
	.info-user-dashb-box-1 img{
		border-radius: 50%;
    border: 3px solid #E4E4E4;
	}
	.dashb-sect-1-sub-1 p{
		font-weight: bold;
    color: #A9A9A9;
	}
	.dashb-sect-1-sub-2 p{
		font-weight: bold;
    color: white;
    font-size: 1.2em;
	}
	.aux-text-1-DB{
		font-size: 1.5em;
    color: #4E72B8 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	}
	.mega-letter-1-DB{
    margin-bottom: 0px;
    color: #9300E1 !important;
	}
	.mega-letter-2-DB{
    margin-bottom: 0px;
    color: #00AB91 !important;
	}
	.mega-letter-3-DB{
		font-size: 3em !important;
    margin-bottom: 0px;
	}
	.icon-info-user-box-1{
    color: #9300E1;
	}
	.icon-info-user-box-2{
    font-size: 0.45em !important;
    margin-right: 1pc;
    color: #00AB91 !important;
	}
	.icon-info-user-box-3{
    font-size: 0.45em !important;
    margin-right: 1pc;
	}
/* End User Information - first section */

/* Consultations rooms - second secion */
	.left-consultation-room-box{
		width: 50%;
    height: 100%;
    float: left;
	}
	.right-consultation-room-box{
		width: 50%;
    height: 100%;
    padding: 2.5pc 0pc;
    float: right;
	}
	.left-consultation-room-box h6{
		font-size: 1.2em;
    font-weight: bold;
    color: #4E72B8;
	}
	.left-consultation-room-box p{
		font-size: 1em;
    font-weight: bold;
    color: #A9A9A9;
    text-transform: capitalize;
	}
	.mega-letter-4-DB{
    margin-bottom: 0px;
    color: #9300E1;
    font-weight: bold;
	}
	.dashb-sect-2-sub-2 h6{
		font-size: 1.2em;
    font-weight: bold;
    color: black;
	}
	.mega-letter-5-DB{
    margin-bottom: 0px;
    color: #5586F6;
    font-weight: bold;
	}
	.mega-letter-5-DB i{
		color: #5586F6;
	}
	.empty-msg-con-DB{
    background-color: white;
	}
	.empty-msg-con-DB button{
    margin-bottom: 1pc;
    height: 2.5pc;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #5395FE;
	}
	.left-consultation-room-box p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	}
/* End Consultations rooms - second secion */

/* Section waited */
	.horizontal-sect-purple-box-DB-1{
		height: 33%;
		width: 100%;
	}
	.horizontal-sect-purple-box-DB-2{
		height: 34%;
		width: 100%;
	}
	.horizontal-sect-purple-box-DB-3{
		height: 33%;
		width: 100%;
	}
	.horizontal-sect-purple-box-DB-2 img{
		 display: block;
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
	.horizontal-sect-purple-box-DB-1 p{
		font-size: 1.4em;
		color: white;
		font-weight: bold;
	}
	.horizontal-sect-purple-box-DB-3 p{
		font-size: 1em;
		color: white;
		font-weight: bold;
	}
	.dashb-sect-2-1 img{
		width: 95%;
    height: 95%;
    display: block;
    object-fit: contain;
    margin-top: 2.5%;
    margin-left: 2.5%;
	}
/* End Section waited */

/* Media section */
	.dashb-sect-3 p{
		color: #4E72B8;
		font-weight: bold;
    font-size: 1.2em;
	}
	.dashb-sect-3 i{
		margin-right: 1pc;
	}
	.dashb-sect-4 img{
		width: 100%;
		height: 100%;
		display: block;
	}
	.average-graphic-box{
		width: 60%;
		height: 70%;
		position: relative;
		margin-left: 20%;
		margin-top: 3%;
		overflow: hidden;
	}
	.circle-base-DB{
    background-color: #1C6DB4;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    left: calc(50% - 175px)
	}
	.circle-movil-DB{
		height: 175px;
    width: 350px;
    border-radius: 350px 350px 0 0;
    background: #1C6DB4;
    position: absolute;
    left: 12px;
		transform-origin: 50%;
		display: none;
	}
	.circle-fixed-top{
    background-color: white;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 140px);
    z-index: 2;
    top: 25%;
	}
	.circle-fixed-top h4{
    font-size: 3em;
    font-weight: bold;
    margin-top: 2pc;
	}
	.circle-fixed-top p{
    font-size: 1em;
    font-weight: bold;
    color: black;
	}
	.limits-points-DB{
		width: 60%;
		height: 2pc;
		position: absolute;
		bottom: 5px;
		visibility: visible;
		z-index: 10;
		left: 20%;
	}
	.limit-left-DB{
		float: left;
		margin-left: 1.7pc;
	}
	.limit-right-DB{
		float: right;
		margin-right: 1.7pc;
	}
/* End media section */

/* Doctors section */
	.dashb-sect-5 p{
		color: #4E72B8;
		font-weight: bold;
    font-size: 1.2em;
    margin-top: 0px
	}
	.dashb-sect-5 i{
		margin-right: 1pc;
	}
	.img-sect-doctors-DB{
		width: 15%;
		height: 100%;
		float: left;
		position: relative;
	}
	.name-sect-doctors-DB{
		height: 100%;
		float: left;
	}
	.info-sect-doctors-DB{
		width: 37.5%;
		height: 100%;
		float: left;
		padding: 0.75pc;
	}
	.action-btn-sect-doctors-DB{
		height: 100%;
		float: left;
		position: relative;
	}
	.img-sect-doctors-DB img{
    border-radius: 50%;
    position: absolute;
	}
	.name-sect-doctors-DB p{
    font-size: 1.25em;
    color: black;
    font-weight: bold;
	}
	.info-sect-doctors-DB p{
		text-align: right;
	}
	.dashb-sect-5 input{
    border-radius: 0px;
    border: 0px;
    background-color: white;
    float: right;
    height: 2pc;
	}
	.dashb-sect-6-sub p{
		white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	}
/* End Doctors section */

/* ********** Media queries styles *********** */
	@media only screen and (max-width: 767px){
	 	.info-user-dashb-box-1{
			width: 30%;
			padding:1pc 1.3pc; 
			height: 50%;
		}
		.info-user-dashb-box-1 img{
			width: 70px;
			height: 70px;
		}
		.dashb-sect-1{
			height: 220px;
		  margin: 2pc 0pc 2pc 0pc;
		}
		.info-user-dashb-box-2{
			width: 70%;
			height: 50%;
			padding: 1pc 0.5pc;
		}
		.info-user-dashb-box-3{
			width: 50%;
			height: 50%;
			padding:1pc 0.5pc; 
		}
		.info-user-dashb-box-4{
			width: 50%;
			height: 50%;
			padding:1pc 0.5pc; 
		}
		.mega-letter-1-DB{
			font-size: 3em;
		}
		.mega-letter-2-DB{
			font-size: 3em !important;
		}
		.dashb-sect-2{
			height: 375px;
			width: 100%;
	    margin-left: 8px;
	    margin-top: 1pc;
		}
		.empty-msg-con-DB{
	    padding: 5pc;
		}
		.dashb-sect-2-1{
	    width: calc(100% - 32px);
    	margin-right: 16px;
		}
		.dashb-sect-3{
			display: inline-block;
			margin: 1pc 0pc 0pc 0pc;
		}
		.dashb-sect-4 img {
	    -o-object-fit: cover;
	    object-fit: cover;
		}
		.dashb-sect-5 input {
	    width: 100%;
		}
		.img-sect-doctors-DB img{
	    width: 48px;
	    height: 48px;
	    left: calc(50% - 24px);
	    top: calc(50% - 24px);
		}
		.dashb-sect-6-sub{
		  padding: 1pc 0pc;
		}
		.name-sect-doctors-DB{
			width: 37.5%;
	  	padding: 1.2pc 0.4pc;
		}
		.action-btn-sect-doctors-DB{
			width: 10%;
		}
		.left-consultation-room-box{
	    padding: 1.5pc 0pc;
		}
		.mega-letter-4-DB{
			font-size: 2em !important;
		}
		.icon-info-user-box-1{
	    font-size: 0.55em !important;
	    margin-right: 0.5pc;
		}
		.mega-letter-5-DB{
			font-size: 2em !important;
		}
		.dashb-sect-2-sub-2{
			padding: 2pc 0pc;
		}
		.dashb-sect-1-sub-2{
	    padding: 2pc 0pc;
		}
		.horizontal-sect-purple-box-DB-1{
			padding: 2pc;
		}
		.horizontal-sect-purple-box-DB-3{
			padding: 1pc;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 991px){
		.info-user-dashb-box-1{
			width: 20%;
			padding:2pc 0pc; 
			height: 100%;
		}
		.info-user-dashb-box-1 img{
			width: 80px;
			height: 80px;
			left: calc(50% - 40px);
			top: calc(50% - 40px);
			position: absolute;
		}
		.dashb-sect-1{
			height: 200px;
		  margin: 2pc 0pc 2pc 0pc;
		}
		.info-user-dashb-box-2{
			width: 30%;
			height: 100%;
			padding: 3.5pc 0.5pc;
		}
		.info-user-dashb-box-3{
			width: 25%;
			height: 100%;
			padding:4pc 0.5pc; 
		}
		.info-user-dashb-box-4{
			width: 25%;
			height: 100%;
			padding:4pc 0.5pc; 
		}
		.mega-letter-1-DB{
			font-size: 4em;
		}
		.mega-letter-2-DB{
			font-size: 4em !important;
		}
		.dashb-sect-2{
			height: 375px;
			width: 75%;
		}
		.empty-msg-con-DB{
	    padding: 7pc;
		}
		.dashb-sect-2-1{
	    width: 22%;
	    margin-right: 16px;
	    height: 375px;
		}
		.dashb-sect-3{
		  margin: 1pc 0pc 1pc 0pc;
		}
		.dashb-sect-4 img {
	    -o-object-fit: fill;
	    object-fit: fill;
		}
		.dashb-sect-5 input{
	    width: 75%;
		}
		.img-sect-doctors-DB img{
	    width: 4pc;
	    height: 4pc;
	    left: calc(50% - 2pc);
	    top: calc(50% -2pc)
		}
		.dashb-sect-6-sub{
		  padding: 1pc;
		}
		.name-sect-doctors-DB{
			width: 40%;
	  	padding: 1.4pc 0.4pc;
		}
		.action-btn-sect-doctors-DB{
			width: 7.5%;
		}
		.left-consultation-room-box{
	    padding: 1pc;
		}
		.mega-letter-4-DB{
			font-size: 3em !important;
		}
		.icon-info-user-box-1{
	    font-size: 0.35em !important;
	    margin-right: 1pc;
		}
		.mega-letter-5-DB{
			font-size: 3em !important;
		}
		.dashb-sect-2-sub-2{
			padding: 1pc;
		}
		.dashb-sect-1-sub-2{
	    padding: 1.5pc 0pc;
		}
		.horizontal-sect-purple-box-DB-1{
			padding: 0.5pc;
		}
		.horizontal-sect-purple-box-DB-3{
			padding: 0.5pc;
		}
	}
	@media only screen and (min-width: 992px) and (max-width: 1200px){
		.info-user-dashb-box-1{
			width: 20%;
			padding:2pc 0pc; 
			height: 100%;
		}
		.info-user-dashb-box-1 img{
			width: 80px;
			height: 80px;
			left: calc(50% - 40px);
			top: calc(50% - 40px);
			position: absolute;
		}
		.dashb-sect-1{
			height: 200px;
		  margin: 2pc 0pc 2pc 0pc;
		}
		.info-user-dashb-box-2{
			width: 30%;
			height: 100%;
			padding: 3.5pc 0.5pc;
		}
		.info-user-dashb-box-3{
			width: 25%;
			height: 100%;
			padding:4pc 0.5pc; 
		}
		.info-user-dashb-box-4{
			width: 25%;
			height: 100%;
			padding:4pc 0.5pc; 
		}
		.mega-letter-1-DB{
			font-size: 4em;
		}
		.mega-letter-2-DB{
			font-size: 4em !important;
		}
		.dashb-sect-2{
			height: 325px;
			width: 75%;
		}
		.empty-msg-con-DB{
	    padding: 7pc;
		}
		.dashb-sect-2-1{
	    width: 22%;
	    margin-right: 16px;
		}
		.dashb-sect-3{
		  margin: 1pc 0pc 1pc 0pc;
		}
		.dashb-sect-4 img {
	    -o-object-fit: fill;
	    object-fit: fill;
		}
		.dashb-sect-5 input{
	    width: 75%;
		}
		.img-sect-doctors-DB img{
	    width: 4pc;
	    height: 4pc;
	    left: calc(50% - 2pc);
	    top: calc(50% -2pc)
		}
		.dashb-sect-6-sub{
		  padding: 1pc;
		}
		.name-sect-doctors-DB{
			width: 40%;
	  	padding: 1.4pc 0.4pc;
		}
		.action-btn-sect-doctors-DB{
			width: 7.5%;
		}
		.left-consultation-room-box{
	    padding: 1pc;
		}
		.mega-letter-4-DB{
			font-size: 3em !important;
		}
		.icon-info-user-box-1{
	    font-size: 0.35em !important;
	    margin-right: 1pc;
		}
		.mega-letter-5-DB{
			font-size: 3em !important;
		}
		.dashb-sect-2-sub-2{
			padding: 1pc;
		}
		.dashb-sect-1-sub-2{
	    padding: 1.5pc 0pc;
		}
		.horizontal-sect-purple-box-DB-1{
			padding: 0.5pc;
		}
		.horizontal-sect-purple-box-DB-3{
			padding: 0.5pc;
		}
	}
	@media only screen and (min-width: 1201px){
		.info-user-dashb-box-1{
			width: 20%;
			padding:2pc 1.5pc; 
			height: 100%;
		}
		.info-user-dashb-box-1 img{
	    width: 100px;
	    height: 100px;
	    top: calc(50% - 50px);
	    position: absolute;
	    left: calc(50% - 50px);
		}
		.dashb-sect-1{
			height: 150px;
		  margin: 2pc 0pc 2pc 0pc;
		}
		.info-user-dashb-box-2{
			width: 30%;
			height: 100%;
			padding: 2.2pc 0.5pc;
		}
		.info-user-dashb-box-3{
			width: 25%;
			height: 100%;
			padding:3pc 0.5pc; 
		}
		.info-user-dashb-box-4{
			width: 25%;
			height: 100%;
			padding:3pc 0.5pc; 
		}
		.mega-letter-1-DB{
			font-size: 3em;
		}
		.mega-letter-2-DB{
			font-size: 3em !important;
		}
		.dashb-sect-2{
			height: 325px;
			width: 75%;
		}
		.empty-msg-con-DB{
	    padding: 7pc;
		}
		.dashb-sect-2-1{
	    width: 23%;
	    margin-right: 16px;
		}
		.dashb-sect-3{
		  margin: 1pc 0pc 1pc 0pc;
		}
		.dashb-sect-4 img {
	    -o-object-fit: fill;
	    object-fit: fill;
		}
		.dashb-sect-5 input{
	    width: 50%;
		}
		.img-sect-doctors-DB img{
	    width: 60px;
	    height: 60px;
	    left: calc(50% - 30px);
	    top: calc(50% - 30px)
		}
		.dashb-sect-6-sub{
		  padding: 1pc;
		}
		.name-sect-doctors-DB{
			width: 40%;
	  	padding: 1.4pc 0.4pc;
		}
		.action-btn-sect-doctors-DB{
			width: 7.5%;
		}
		.action-btn-sect-doctors-DB img{
			width: 36px;
			height: 36px;
			position: absolute;
			left: calc(50% - 18px);
			top: calc(50% - 18px);
		}
		.left-consultation-room-box{
	    padding: 1pc;
		}
		.mega-letter-4-DB{
			font-size: 3em !important;
		}
		.icon-info-user-box-1{
	    font-size: 0.35em !important;
	    margin-right: 1pc;
		}
		.mega-letter-5-DB{
			font-size: 3em !important;
		}
		.dashb-sect-2-sub-2{
			padding: 1pc;
		}
		.dashb-sect-1-sub-2{
	    padding: 1pc 0pc;
		}
		.horizontal-sect-purple-box-DB-1{
			padding: 2pc;
		}
		.horizontal-sect-purple-box-DB-3{
			padding: 1pc;
		}
		.name-sect-doctors-DB p{
			margin-left: 1pc;
		}
	}
/* ********** End media queries styles *********** */