/* Important css */
.app-header-fixed {
  padding-top: 0px !important;
}
/* End Important css */

@font-face
{
  font-family: 'Comfortaa', cursive;
  src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
}

@font-face
{
  font-family: 'Roboto', sans-serif;
  src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

/* sections */
	header{
		background-color: white;
		font-size: 1em;
		font-family: arial;
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	}
	article{
		background-image: url('../../images/wall05.jpg');
		background-size: cover;
		background-position: 50% 35%;
		overflow-y: scroll;
	}
	#section-format-1{
	  min-height: 800px;
	}
	#section-format-2{
		min-height: 800px;
		background-color: #51A7FD;
	}
	#section-format-3{
		min-height: 500px;
		background-color: #51A7FD;
	}
	#section-format-4{
		min-height: 200px;
		background-color: white;
	}
	footer{
		background-color: gray;
		height: 50px;
	}
/* end sections */

/* boxes styles*/
	#register-box-signin{
		position: relative;
		height: 600px;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 10px;
	}
	.error-message{
		color:red;
		font-size: 12px;
	}
	#recover-box{
		position: relative;
	  height: 600px;
	  background-color: rgba(255, 255, 255, 0.8);
	  border-radius: 10px;
	  width: 70%;
	  margin-left: 15%;
	}
	.mini-box-1-signin{
		min-height: 100%;
		float: left;
		background-image: url(../../images/med01.jpg);
		background-size: cover;
		border-radius: 10px 0px 0px 10px;
	}
	.mini-box-2-signin{
		min-height: 100%;
		float: right;
		border-radius: 10px;
		padding: 2%;
	}
	.mini-box-3-signin{
	  float: left;
	  position: relative;
	  text-align: center;
		background-color: rgba(85, 135, 175, 0.86);
		border-radius: 10px 0px 0px 10px;
	}
	.mini-box-4{
	  float: right;
	  position: relative;
	}
	.text-box-1{
	  width: 50%;
	  margin-left: 25%;
	  margin-top: 2%;
	  margin-bottom: 2%;
	}
	.benefit-box{
		width: 100%;
		height: 400px;
		margin-top: 100px;
		margin-bottom: 50px;
		background-color: white;
		position: relative;
	}
	.internal-b-box-1{
		width: 100%;
	  height: 100%;
	  position: relative;
	  z-index: 0;
	  overflow: hidden;
	}
	.internal-b-box-2{
		width: 100%;
	  height: 100%;
	  position: relative;
	  z-index: 0;
	  overflow: hidden;
	}
	.internal-b-box-3{
		width: 100%;
	  height: 100%;
	  position: relative;
	  z-index: 0;
	  overflow: hidden;
	}
	.internal-b-box-4{
		width: 100%;
	  height: 100%;
	  position: relative;
	  z-index: 0;
	  overflow: hidden;
	}
	.internal-b-box-in-1{
		width: 100%;
	  height: 100%;
	  background-color: rgba(0, 0, 0, 0.5);
	  position: absolute;
	  top: 100%;
	  z-index: 0;
	  transition: 0.7s;
	  padding: 14% 8%;
	}
	.internal-b-box-in-2{
		width: 100%;
	  height: 100%;
	  background-color: rgba(0, 0, 0, 0.5);
	  position: absolute;
	  top: 100%;
	  z-index: 0;
	  transition: 0.7s;
	  padding: 14% 8%;
	}
	.internal-b-box-in-3{
		width: 100%;
	  height: 100%;
	  background-color: rgba(0, 0, 0, 0.5);
	  position: absolute;
	  top: 100%;
	  z-index: 0;
	  transition: 0.7s;
	  padding: 14% 8%;
	}
	.internal-b-box-in-4{
		width: 100%;
	  height: 100%;
	  background-color: rgba(0, 0, 0, 0.5);
	  position: absolute;
	  top: 100%;
	  z-index: 0;
	  transition: 0.7s;
	  padding: 14% 8%;
	}
	.internal-b-box-1:hover .internal-b-box-in-1{
		top: 0%;
	}
	.internal-b-box-2:hover .internal-b-box-in-2{
		top: 0%;
	}
	.internal-b-box-3:hover .internal-b-box-in-3{
		top: 0%;
	}
	.internal-b-box-4:hover .internal-b-box-in-4{
		top: 0%;
	}
	.button-box{
		width: 100%;
		height: 100px;
		position: relative;
		margin-top: 4%;
	}
	.aux-cont-S{
		display: flex;
	}
/* end boxes styles*/

/* inputs styles */
	header input{
		width: 100%;
		margin-top: 21px;
		margin-bottom: 8px;	
		border-radius: 2.5px;
	  border: 1px solid rgba(128, 128, 128, 0.5);
	}
	.mini-box-2-signin input{
		margin-bottom: 1%;
	  border: 1px solid #ccc;
	}
	.input-styles-1{
		width: 45%;
	  height: 35px;
	  margin-left: 2%;
	  border: 1px solid rgba(128, 128, 128, 0.5);
	  border-radius: 5px;
	}
	.input-styles-2{
	  width: 93%;
	  height: 35px;
	  border: 1px solid rgba(128, 128, 128, 0.5);
	  border-radius: 5px;
	  margin-left: 2%;
	}
	.input-styles-3{
		width: 35%;
	  height: 35px;
	  margin-left: 2%;
	  border: 1px solid rgba(128, 128, 128, 0.5);
	  border-radius: 5px;
	}
	.input-styles-4{
		width: 30%;
	  height: 35px;
	  margin-left: 3%;
	  border: 1px solid rgba(128, 128, 128, 0.5);
	  border-radius: 5px;
	  background-color: white;
	  transition: 0.5s;
	}
	.aux-input-dim-S{
		width: calc(100% - 40px)
	}
/* end inputs styles */

/* buttons styles*/
	header button{
	  width: 80%;
	  margin-top: 21px;
	  background-color: #585AE8;
	  border: 1px solid #456CD1;
	  color: white;
	  border-radius: 2px;
	}
	header button:hover{
		background-color: #6945D1;
	}
	header button:active{
		box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
	}
	#register-submit-btn{
		background-color:#946EFF; 
		width: 45%;
	  height: 35px;
	  margin-left: 27.5%;
	  border: 1px solid #A558E8;
	  border-radius: 5px;
	  color: white;
	}
	#register-submit-btn:hover{
		background-color:#585AE8; 
	}
	#register-submit-btn:active{
		box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
	}
	.button-p{
	  text-align: center;
	  margin-top: 15%;
	  color: white;
	  font-size: 2em;
	  border: 1px solid;
	  transition: 0.6s;
	  cursor: pointer;
	}
	#button-p:hover{
		background-color: #F50087;
	}
	.register-button{
		width: 60%;
		margin-left: 20%;
		background-color: #2887DE;
	}
/* end buttons styles */

/* links */
	header a{
		font-size: 0.89em;
	}
/* end links*/

/* images */
	#sinapsis-logo{
	  width: 70px;
	  margin-left: calc(50% - 35px);
	}
	#register-logo-img{
		width: 220px;
		margin-left:calc(50% - 110px);
	}
/* end images*/

/* paragraph styles */
	p{
		font-family: 'Roboto', sans-serif;
	}
	#title-web-signin{
		font-family: 'Comfortaa', cursive;
	  color: #585AE8;
	  text-align: center;
	  font-size: 3.5em;
	  margin: 0px;
	}
	.mini-box-2-signin h2{
		text-align: center;
		color: #595959;
		margin-top: 10px;
		font-weight: bold;
	}
	.text-box-1 a{
		font-size: 1em;
		color: #337ab7;
	}
	.text-box-1 p{
		font-size: 0.8em;
		color: black;
	}
	#info-p-1{
		font-size: 4em;
		color: white;
	}
	#info-p-2{
		font-size: 2em;
		margin: 0px;
		color: white;
	}
	#info-p-3{
		font-size: 2em;
		color: white;
		text-align: center;
	}
	#info-p-4{
		margin: 0px;
		color: white;
		text-align: center;
	}
	{
	  color: #337ab7 !important;
	  text-decoration: none !important;
	}
	#tercon:focus, #tercon:hover {
	  color: #23527c;
	  text-decoration: underline;
	}
	/* end paragraph styles */

/* label style */
	.mini-box-2-signin label{
	  margin-left: 8%;
	  margin-top: 1%;

	  font-weight: normal;
	}
	.aux-label-input-S{
		width: 40px;
		height: 34px;
	}
	/* end label style */

	/* icons style */
	.info-popover{
		cursor: pointer;
	}
	.info-popover:hover{
		color: #4A45FE;
		transition: 0.5s;
	}
	.color-icon{
		color: #51A7FD;
	}
	/* end icons style */

	/* auxiliar styles */
	#aux-style-1{
		margin-left: 2%;
	}
	.aux-style-2-home{
		overflow-y: scroll;
		max-height: 500px;
	}
/* end auxiliar styles */

/* media query */
@media only screen and (max-width: 767px){
	article{
		height: calc(100% - 165px);
		padding: 8% 0%;
	}
	header{
		height: 165px;
	}
	#sinapsis-logo {
    width: 60px;
    margin-left: calc(50% - 30px);
	}
	.circle-form-1{
		width: 100px;
	  height: 100px;
	  left: calc(50% - 50px);
  	top: -50px;
	}
	#register-box-signin{
		width: 100%;
		margin-left: 0%;
	}
	.mini-box-1-signin{
		display: none;
	}
	.mini-box-2-signin{
		width: 96%;
		margin-right: 2%;
	}
	.mini-box-3-signin{
	  width: 100%;
	  min-height: 500px;
	  padding: 12%;
	}
	#info-p-4{
		font-size: 3.5em;
	}
	#section-format-2{
		padding: 15% 0%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	article{
		height: calc(100% - 85px);
		padding: 6% 0%;
	}
	header{
		height: 85px;
	}
	#register-box-signin{
		width: 95%;
		margin-left: 2.5%;
	}
	#register-box-signin:hover .mini-box-3-signin{
		opacity: 1;
		transition: 0.5s;
	}
	.mini-box-1-signin{
		display: block;
		width: 30%;
	}
	.mini-box-2-signin{
		width: 70%;
	}
	.mini-box-3-signin{
	  width: 100%;
	  min-height: 600px;
	  padding: 70% 10%;
	  opacity: 0;
	}
	#info-p-1{
		font-size: 3em; 
	}
	#info-p-2{
		font-size: 1.5em;
	}
	#info-p-4{
		font-size: 4em;
	}
	#section-format-2{
		padding: 15% 0%;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
	article{
		height: calc(100% - 85px);
		padding: 5% 0%;
	}
	header{
		height: 85px;
	}
	#register-box-signin{
		width: 80%;
		margin-left: 10%;
	}
	#register-box-signin:hover .mini-box-3-signin{
		opacity: 1;
		transition: 0.5s;
	}
	.mini-box-1-signin{
		display: block;
		width: 40%;
	}
	.mini-box-2-signin{
		width: 60%;
	}
	.mini-box-3-signin{
	  width: 100%;
	  min-height: 600px;
	  padding: 40% 10%;
	  opacity: 0;
	}
	#info-p-4{
		font-size: 4em;
	}
	#section-format-2{
		padding: 15% 0%;
	}
}
@media only screen and (min-width: 1201px){
	article{
		height: calc(100% - 85px);
	}
	header{
		height: 85px;
	}
	#register-box-signin{
		width: 80%;
		margin-left: 10%;
	}
	#register-box-signin:hover .mini-box-3-signin{
		opacity: 1;
		transition: 0.5s;
	}
	.mini-box-1-signin{
		display: block;
		width: 40%;
		background-position-x: 30%;
	}
	.mini-box-2-signin{
		width: 60%;
	}
	.mini-box-3-signin{
	  width: 100%;
	  min-height: 600px;
	  padding: 30% 14%;
	  opacity: 0;
	}
	#info-p-4{
		font-size: 4em;
	}
	#section-format-2{
		padding: 15% 0%;
	}
}
@media only screen and (min-height: 600px){
	article{
		padding: 0.5pc 0%;
	}
}
@media only screen and (min-height: 700px){
	article{
		padding: 1.5pc 0%;
	}
}
@media only screen and (min-height: 800px){
	article{
		padding: 6% 0%;
	}
}
@media only screen and (min-height: 900px){
	article{
		padding: 7.5% 0%;
	}
}

/* end media query */

/* Scroll CSS */
::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  background-color: white;
}
/* End Scroll CSS */

/* New Register Inpunts Css*/
.auxiliar-margin-register{
	height: 55px;
}
.auxiliar-margin-register-2{
	height: 65px;
}
.auxiliar-margin-register-3{
	width: 100%;
	height: 34px;
}
/* End New Register Inpunts Css*/

/* inputs number arrows */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  /* display: none; <- Crashes Chrome on hover */
	  -webkit-appearance: none;
	  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}
/* inputs number arrows */

/* inputs validate */
	/*
	.valid-value{
		background: #fff url(/assets/excGrey20.png) no-repeat 98% center;
	}
	.valid-value:hover{
		background: #fff url(/assets/excBlack20.png) no-repeat 98% center;
	}*/
	.valid-value:required:valid{
	  box-shadow: 0 0 5px #2887DE;
	  border-color: #2887DE;
	  background: #fff url(../../images/checkBlue20.png) no-repeat 98% center;
	}
	.valid-value:focus:invalid{ /* when a field is considered invalid by the browser */
	  box-shadow: 0 0 5px #d45252;
	  border-color: #b03535;
	  background: #fff url(../../images/cancelRed20.png) no-repeat 98% center;
	}
	.valid-value-p{
	  box-shadow: 0 0 5px #2887DE !important;
	  border-color: #2887DE !important;
	  background: #fff url(../../images/checkBlue20.png) no-repeat 98% center;
	}
	.invalid-value-p{ /* when a field is considered invalid by the browser */
	  box-shadow: 0 0 5px #d45252 !important;
	  border-color: #b03535 !important;
	  background: #fff url(../../images/cancelRed20.png) no-repeat 98% center;
	}
/* inputs validate */