<!--<h3 class='text-center' id='reloj' style='margin-top: 2vh; font-size: 1.6vw;'>{{ clock  | date: 'hh:mm:ss'}}</h3>-->
<div>
	<div class="container-fluid dashb-sect-1">
		<div class="row row-helper-dashb-1">
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-helper-dashb-1">
				<div class="container-fluid dashb-sect-1-sub-1">
					<div class="row row-helper-dashb-1">
						<div class="info-user-dashb-box-1">
							<img ng-src="{{currentUser.cropped_image_url}}" ng-show='currentUser.cropped_image_url != null'>
							<img src="/assets/Profile.png" ng-show='currentUser.cropped_image_url == null'>
						</div>
						<div class="info-user-dashb-box-2">
							<p>Bienvenid<span ng-show="currentUser.gender == 'M'">o</span><span ng-show="currentUser.gender == 'F'">a</span></p>
							<p class="aux-text-1-DB" data-pointer="text-trunc-profile" data-json="doctor-name"><span ng-show="currentUser.gender == 'M'">Dr. </span><span ng-show="currentUser.gender == 'F'">Dra. </span>{{currentUser.first_name}} {{currentUser.last_name}}</p>
							<p>{{dashboard.speciality.name}}</p>
						</div>
						<div class="info-user-dashb-box-3">
							<center>
								<p class="mega-letter-1-DB"><span><i class="fa fa-users icon-info-user-box-1" aria-hidden="true"></i></span>{{dashboard.patients}}</p>
								<p>Pacientes registrados</p>
							</center>
						</div>
						<div class="info-user-dashb-box-4">
							<center>
								<p class="mega-letter-2-DB"><span><i class="fa fa-user-md icon-info-user-box-2" aria-hidden="true"></i></span>{{coworkers.length}}</p>
								<p>Colegas</p>
							</center>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-helper-dashb-1">
				<div class="container-fluid dashb-sect-1-sub-2">
					<center>
						<p>Total de citas para hoy:</p>
					</center>
					<center>
						<p class="mega-letter-3-DB"><span><i class="fa fa-calendar-check-o icon-info-user-box-3" aria-hidden="true"></i></span>{{finalList.length}}</p>
					<p>Consultas</p>
					</center>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid dashb-sect-2">
		<div class="row row-helper-dashb-1" ng-show="rooms == null">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-helper-dashb-1 empty-msg-con-DB">
				<center>
					<h3>No posee consultorios registrados</h3>
					<p>Por favor ingrese un consultorio</p>
					<button ng-click='reloadRoute()' ui-sref-opts="{reload: true}" ui_sref='app.patients.consulting.create_consulting'>Nuevo consultorio</button>
				</center>
			</div>
		</div>
		<div class="row row-helper-dashb-2" ng-repeat="room in rooms">
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-helper-dashb-1">
				<div class="container-fluid dashb-sect-1-sub-3">
					<div class="row row-helper-dashb-1">
						<div class="col-xs-12 col-sm-12 col-md-12 dashb-sect-2-sub-1" style="border-left: 5px solid {{room.color}}">
							<div class="left-consultation-room-box">
								<h6>Consultorio {{$index+1}}</h6>
								<p data-pointer="text-trunc-consult-{{$index+1}}" data-json="room-title">{{room.title}}</p>
								<p data-pointer="text-trunc-consult-{{$index+1}}" data-json="room-name">{{room.name}}</p>
								<p data-pointer="text-trunc-consult-{{$index+1}}">{{room.phone.substring(0,4)}} - {{room.phone.substring(4,11)}}</p>
								<!--<p>{{room.price}} {{room.currency.symbol}}</p>-->
							</div>
							<div class="right-consultation-room-box">
								<center>
									<p class="mega-letter-4-DB"><span><i class="fa fa-users icon-info-user-box-1" aria-hidden="true"></i></span>{{room.patients}}</p>
									<p>Pacientes Registrados</p>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-helper-dashb-1">
				<div class="container-fluid dashb-sect-1-sub-4">
					<div class="row row-helper-dashb-1">
						<div class="col-xs-12 col-sm-12 col-md-12 dashb-sect-2-sub-2">
							<center>
								<h6>Citas, Hoy, {{dayAndMonth}}</h6>
								<p class="mega-letter-5-DB"><span><i class="fa fa-users icon-info-user-box-1" aria-hidden="true"></i></span>{{room.appointments}}</p>
								<p>Consultas</p>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid dashb-sect-2-1">
		<div class="row row-helper-dashb-1">
			<!--<div class="horizontal-sect-purple-box-DB-1">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
			</div>
			<div class="horizontal-sect-purple-box-DB-2">
				<img src="/assets/headaches-doctor.jpg">
			</div>
			<div class="horizontal-sect-purple-box-DB-3">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>-->
			<img src="/assets/logoSinapsis@2x.png">
		</div>
	</div>
	<div class="container-fluid dashb-sect-3">
		<div class="row row-helper-dashb-1">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-helper-dashb-1">
				<p><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>Consultas por mes</p>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-helper-dashb-1">
				<p><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>Promedio de tiempo por consultas</p>
			</div>
		</div>
	</div>
	<div class="container-fluid dashb-sect-4">
		<div class="row row-helper-dashb-1">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-helper-dashb-1">
				<div class="container-fluid dashb-sect-4-sub-1">
					<div class="row row-helper-dashb-1">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-helper-dashb-1">
							<img src="/assets/grafico.png">
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-helper-dashb-1">
				<div class="container-fluid dashb-sect-4-sub-1">
					<div class="row row-helper-dashb-1">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-helper-dashb-1">
							<div class="average-graphic-box">
								<div class="circle-base-DB">
								</div>
								<div class="circle-movil-DB">
								</div>
								<div class="circle-fixed-top">
									<center>
										<h4>60</h4>
										<p>Minutos</p>
									</center>
								</div>
							</div>
							<div class="limits-points-DB">
								<p class="limit-left-DB">30</p>
								<p class="limit-right-DB">80</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid dashb-sect-5">
		<div class="row row-helper-dashb-1">
			<div class="col-xs-7 col-sm-7 col-md-7 col-lg-6 col-helper-dashb-1">
				<p><span><i class="fa fa-user-md" aria-hidden="true"></i></span>Doctores de Sinapsis en Venezuela</p>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-6 col-helper-dashb-1">
				<input placeholder="Buscar colegas..." ng-model="doctorSearch">
			</div>
		</div>
	</div>
	<div class="container-fluid dashb-sect-6">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-helper-dashb-2">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 dashb-sect-6-sub" ng-repeat="doctor in allDoctors | filter:doctorSearch | limitTo: 10">
							<div class="img-sect-doctors-DB">
								<img ng-show="doctor.doctor.image.cropped_image_url != null" ng-src="{{doctor.doctor.image.cropped_image_url}}">
								<img ng-show="doctor.doctor.image.cropped_image_url == null" src="/assets/Profile.png">
							</div>
							<div class="name-sect-doctors-DB">
								<p data-pointer="text-trunc-doct-{{$index}}" data-json="doctor-name">{{doctor.doctor.first_name}} {{doctor.doctor.last_name}}</p>
							</div>
							<div class="info-sect-doctors-DB">
								<p>{{doctor.doctor.email}}</p>
								<p ng-hide="doctor.doctor.phone_mobile == 'null'">{{doctor.doctor.mobile_code}} - {{doctor.doctor.phone_mobile}}</p>
							</div>
							<div class="action-btn-sect-doctors-DB" ng-click="addCoworker(selectedDoctor.id)">
								<img src="/assets/ico-agregar-doc.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>